<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Data Structure</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="MyController">
    <h1>{{ greeting }}</h1>
    <ul>
        <li ng-repeat="item in items">{{ item }}</li>
    </ul>
    <button ng-click="addItem()">Add Item</button>
</div>

<script>
    // Define the AngularJS module
    var app = angular.module('MyApp', []);

    // Define the controller
    app.controller('MyController', function ($scope) {
        // Initial data
        $scope.greeting = 'Welcome to AngularJS Data Structure';
        $scope.items = ['Item 1', 'Item 2', 'Item 3'];

        // Function to add an item
        $scope.addItem = function () {
            var newItem = 'Item ' + ($scope.items.length + 1);
            $scope.items.push(newItem);
        };
    });
</script>

</body>
</html>
